.main {
  padding: 20px;
  display: flex;
}

.topics {
}

.score-btns {
  width: 200px;
  height: 150px;
  font-size: 30px;
  border-radius: 10px;
  border: 2px solid rgb(183, 5, 100);
}

.main-container {
  display: flex;
  color: black;
  height: 150px;
}

.topic-item {
  display: flex;
  border: 2px solid rgb(183, 5, 100);
  border-radius: 4px;
  width: 300px;
  height: 150px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.buttons-Container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.all-btns {
  display: flex;

  width: 1000px;
  flex-wrap: wrap;
}
.card {
  width: 700px;
  position: absolute;
  z-index: 99;
  top: 30%;
  left: 30%;
  font-size: 25px;
}
